.appointments-profile-main-profile {
	justify-content: center;
	background-color: transparent;
}

.appointments-title {
	font-family: 'Poppins';
	color: #1b2737;
	margin: 0 auto;
	background-color: transparent;
	/* margin-left: 0 auto; */
	width: 70%;
}

/* .appointments-profile-main-container {
	background-color: red;
} */

.appointments-profile-main-container {
	background-color: transparent;
}

@media screen and (max-width: 960px) {
	.view-selector-group {
		background-color: red;
	}

	.appointments-title {
		width: 90%;
		background-color: transparent;
	}

	.appointments-profile-main-container {
		background-color: transparent;
	}
}
