.appointments-profile-main-profile {
	justify-content: center;
	background-color: transparent;
}

.appointments-title {
	font-family: 'Poppins';
	color: #1b2737;
	margin: 0 auto;
	background-color: transparent;
	/* margin-left: 0 auto; */
	width: 90%;
}

.appointments-profile-main-container {
	background-color: transparent;
}

@media screen and (max-width: 768px) {
	.view-selector-group {
		background-color: red;
	}

	.appointments-profile-main-container {
		background-color: transparent;
	}
}
