.pet-form-main-container {
	background-color: transparent;
	height: auto;
}
.pet-form {
	background-color: transparent;
	width: 50%;
	margin: 0 auto;
	color: red;
}

.button-group {
	/* margin-top: 5rem; */
	background-color: transparent;
	width: 80%;
	margin: 3rem auto;
}

@media screen and (max-width: 768px) {
	.button-group {
		width: 150%;
		margin-left: -2.5rem;
		background-color: transparent;
	}
}

/* .select-fields {
	display: inline;
	background-color: red;
} */
