.weights-graph-main-container {
	background-color: transparent;
	font-family: 'Poppins';
	color: #1b2737;
	margin: 0 auto;
	height: auto;
	/* margin-left: 0 auto; */
	width: 70%;
}

.dashboard-graph-main-container {
	background-color: transparent;
	margin-top: 5rem;
	width: 100%;
	margin-bottom: 5rem;
}
