.pet-profile-main-container {
	background-color: transparent;
	height: auto;
	width: 100%;
	color: black;
	margin-top: 4.5rem;
	overflow: auto;
}

.loaded-pet-profile-main-container {
	/* display: flex; */
}

.profile-banner {
	position: relative;
	/* background-color: #1b2737; */
	background-color: transparent;
	width: 100vw;
	height: 10vh;
	margin-top: -1.5rem;
	justify-content: center;
	display: flex;
}

/* .profile-banner h1 {
	font-family: 'Poppins';
} */

h3 {
	color: #1b2737;
}

.picture {
	position: absolute;
	background-color: white;
	width: 8rem;
	height: 8rem;
	justify-content: center;
	display: flex;
	border-radius: 50%;
	border-style: solid;
	border-color: #ff4f00;
	bottom: -4rem;
}

.settings-button {
	background-color: #1b2737;
	border-radius: 60%;
	height: 4rem;
	width: 4rem;
	float: left;
	margin-top: -6rem;
	margin-left: 2rem;
	overflow: auto;
}

.add-button-profile {
	background-color: transparent;
	height: 4rem;
	width: 4rem;
	float: right;
	margin-top: -9rem;
	margin-right: 2rem;
}

.general-info {
	background-color: white;
	margin: 0 auto;
	margin-top: -1rem;
	width: 70vw;
	height: 100vh;
	margin-bottom: 10rem;
	overflow: auto;
	border-radius: 10px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.67);
	/* justify-content: center;
	display: flex; */
}

.name {
	font-family: 'Poppins';
	font-size: 25px;
	background-color: transparent;
	width: auto;
	margin: 0 auto;
	margin-top: 3rem;
	justify-content: center;
	display: flex;
}

.name h2 {
	color: #1b2737;
	margin-left: 1rem;
	font-weight: 700;
	/* margin: 0 auto; */
}

.age-type-sex-breed {
	background-color: transparent;
	height: 10rem;
	font-family: 'Poppins';
}

.info-list {
	background-color: transparent;
	width: 100%;
	height: 5rem;
	list-style: none;
	display: inline-flex;
	margin: 0 auto;
	margin-left: -2rem;
	margin-top: 1rem;
	font-size: 18px;
}

.info-list li {
	margin: 0 auto;
	background-color: transparent;
	width: 8rem;
}

.info-list li h3 {
	font-weight: 700;
	color: #1b2737;
	background-color: white;
	margin-top: 0rem;
	width: 3rem;
	margin: 0 auto;
	margin-bottom: 0rem;
}

.info-list li h4 {
	font-weight: 400;
	background-color: transparent;
}

.tabs-container {
	background-color: transparent;
	height: 10rem;
}

.tabs {
	background-color: transparent;
	height: 100%;
}

.tabs-list {
	background-color: transparent;
	height: 100%;
	width: 100%;
	list-style-type: none;
	display: inline-flex;
	margin: 0 auto;
	justify-content: center;
}

.tabs-list li {
	/* margin-top: -2rem; */
	background-color: rgb(230, 230, 230);
	width: 5rem;
	height: 5rem;
	margin: 2rem;
	border-radius: 50%;
	/* border-style: solid 1px;
	border-color: #ff4f00; */
	/* margin: 0 auto; */
}

.info-list-small {
	display: flex;
	list-style-type: none;
	margin-left: 1rem;
}

.info-list-small li {
	/* margin-top: -0.25rem; */
}

.info-list-small p {
	margin-top: -0.5rem;
}

.first-set {
	margin-right: 40%;
	margin-left: 1rem;
}
/* 
.selector-div {
	background-color: red;
	width: 9;
	height: 2rem;
} */

@media screen and (max-width: 960px) {
	.general-info {
		/* position: relative; */
		width: 100vw;
		height: 220vh;
		box-shadow: 0 0px 0px rgba(0, 0, 0, 0.67);
	}

	.settings-button {
		height: 2rem;
		width: 2rem;
		overflow-x: hidden;
		position: fixed;
		float: right;
		z-index: 2000;
		right: 5%;
		top: 7rem;
		background-color: transparent;
	}

	.age-type-sex-breed {
		background-color: transparent;
		width: 90%;
		margin: 0 auto;
		border-radius: 7px;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.67);
	}

	.info-list {
		display: inline-flex;
	}

	.picture {
		position: relative;
		margin-top: -2rem;
	}
	.name {
		margin-top: 5rem;
	}

	.add-button-profile {
		position: fixed;
		float: right;
		right: -1rem;
		bottom: 40vw;
		z-index: 1000;
	}

	.view-selector {
		background-color: transparent;
		width: 50%;
		margin: 0 auto;
		margin-top: 3rem;
		display: flex;
		justify-content: center;
		margin-bottom: 3rem;
	}
	/* .info-list li h3 {
		font-size: 15px;
	} */
}
