.appointments-main-container {
	background-color: transparent;
	height: auto;
	width: 65%;
	margin: 0 auto;
	/* margin-top: 15rem; */
	font-family: 'Poppins';
}

.title {
	background-color: transparent;
	margin-left: -1.5rem;
}

.title h1 {
	/* margin-left: -0.15rem; */
}

.appointments-table {
	background-color: transparent;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.67);
	/* border-radius: 5px; */
	/* border-radius: 5%; */
}

/* .icon-button-appt {
	background-color: green;
	height: 2rem;
} */
.appt-image {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
}
@media only screen and (max-width: 600px) {
	.appointments-main-container {
		width: 95%;
	}
}
