.dashboard-main-container {
	font-family: 'Poppins';
	background-color: white;
	height: 380vh;
	margin-top: -6rem;
}

.dashboard-main-container h1 {
	margin-top: 10rem;
	margin-left: 40rem;
	font-size: 50px;
}
