.weights-profile-main-container {
	justify-content: center;
	background-color: transparent;
	height: 15rem;
}

.weights-title {
	font-family: 'Poppins';
	color: #1b2737;
	margin: 0 auto;
	background-color: transparent;
	/* margin-left: 0 auto; */
	width: 80%;
}

.view-selector-group {
	list-style-type: none;
	display: flex;
	background-color: transparent;
}

.view-selector-group li {
	background-color: transparent;
	height: 3.5rem;
	margin-left: -2.3rem;
	margin-right: 4rem;
}

.view-selector-group li:hover {
	cursor: pointer;
}

.loading {
	background-color: transparent;
	width: 70%;

	margin: 0 auto;
	margin-top: 5rem;
}

@media only screen and (max-width: 600px) {
	.weights-title {
		background-color: transparent !important;
		margin-left: -2rem !important;
		font-size: 2.2rem;
	}

	.weights-main-container ul {
		background-color: transparent !important;
		margin-left: -3.5rem;
	}

	.pet-with-weight {
		background-color: transparent;
		margin-left: -2.5rem !important;
	}

	.weights-main-container h2 {
		font-size: 1.15rem;
	}

	.view-selector-group {
		font-size: 0.75rem;
	}
}
