.home-main-container {
	background-color: white;
	height: 350vh;
	width: 100%;
	overflow-y: hidden !important;
	margin-top: 64px;
}

/* banner */
.grid-container-banner {
	background-color: blue;
	height: 90vh;
}

.grid-banner {
	background-color: white;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}

.grid-banner h1 {
	margin-top: 425px;
	background-color: white;
	font-size: 80px;
	color: #1b2737;
	font-family: 'Poppins';
	font-weight: 800;
}

/* body */
.grid-container-body {
	background-color: white;
	justify-content: center;
	z-index: 5;
	height: 170vh;
	margin-top: 4rem;
}

.grid-body {
	background-color: transparent;
	/* box-shadow: 0 0px 29px #1b2737; */
	border-radius: 5px;
	/* border-radius: 25px; */
	z-index: 999;
	height: 150vh;
	width: 100%;
	margin-top: -4rem;
}

.feature-grid {
	background-color: royalblue;
	height: 100%;
}

.feature-container {
	background-color: green;
	height: 550px;
	width: 400px;
	justify-content: center;

	/* width: 100%; */
}

.feature-description.first {
	line-height: 35px;
}

.feature-description {
	/* margin-top: 2rem; */
	margin-top: -1rem;
	background-color: violet;
	/* width: 440px; */
	width: 60%;
	height: 350px;
	margin-left: 20%;
	text-align: center;
	font-family: 'Poppins';
}

.feature-description h2 {
	font-size: 25px;
}

.feature-description h3 {
	font-weight: 400;
}

.feature-pic-container {
	background-color: aqua;
	height: 16.6%;
}

.feature-pic {
	background-color: maroon;
	width: 60%;
	height: 40%;
	margin-left: 20%;
	text-align: center;
	font-family: 'Poppins';
	margin-top: 2rem;
}

.feature-pic h3 {
	font-weight: 600;
}

.feature-container.second-row {
	/* margin-top: -20%; */
	margin-top: -10%;
}

.get-started {
	/* background-color: red; */
	height: 35vh;
	text-align: center;
	padding: 1rem;
	margin-top: 3rem;
}

.get-started h1 {
	text-align: center;
	font-size: 50px;
	font-family: 'Poppins';
	color: #1b2737;
	font-weight: 800;
}

.get-started h2 {
	font-family: 'Poppins';
	color: #1b2737;
	padding-bottom: 2rem;
	font-weight: 500;
}

.footer {
	/* position: fixed; */
	bottom: 0;
	background-color: #1b2737;
	width: 100%;
	height: 20vh;
	text-align: center;
	font-family: 'Poppins';
}

.footer-content {
	background-color: transparent;
	width: 50%;
	height: 100%;
	margin: 0 auto;
	padding: 10px;
	position: relative;
	z-index: 100;
}

.footer-content h3 {
	margin-top: 7%;
	color: white;
	font-size: 20px;
	font-weight: 300;
}
/* mobile */
@media only screen and (max-width: 600px) {
	.home-main-container {
		height: auto;
		background-color: transparent;
	}
	.grid-container-banner {
		overflow-y: hidden !important;
		height: 75vh;
	}

	.grid-banner h1 {
		background-color: transparent;
		padding: 1rem;
		margin-left: 1rem;
		font-size: 40px;
		margin-top: 25%;
	}

	.grid-container-body {
		margin-top: 0rem;
		background-color: transparent;
		position: relative;
		box-sizing: border-box;
		height: 550vh;
	}

	.grid-body {
		background-color: transparent;
	}

	.grid-container-body::after {
		position: absolute;
		content: '';
		background: #1b2737;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transform-origin: top left;
		transform: skewY(-12deg);
		box-shadow: -70vw -10px 0px 10px #ff4f00, 70vw 50px 0px -30px #ff4f00;
	}

	.grid-body {
		background-color: transparent;
		margin-top: -2rem;
		height: 500vh;
	}

	.feature-container {
		/* display: none; */

		background-color: transparent;
		width: 110vh;
		height: 100vh;
	}

	.feature-container.first {
		height: 80vh;
	}

	.feature-grid {
		background-color: transparent;
	}

	.feature-pic {
		background-color: transparent;
		width: 100%;
		margin-left: auto;
	}

	.feature-description {
		background-color: transparent;
		width: 90%;
		height: auto;
		margin: 0 auto;
		margin-top: -12vh;
		/* height: 80vh; */
		/* margin-top: -30%; */
	}

	.feature-description.first {
		background-color: transparent;
		margin-top: -7vh;
	}

	.feature-description h2 {
		color: white;
		font-size: 23px;
	}

	.feature-description h3 {
		color: white;
		font-size: 15px;
		line-height: 40px;
	}

	.stripe2 {
		margin-top: 255.45rem;
		margin-left: 8.5rem;
	}

	.footer {
		margin-top: 22rem;
		height: 11rem;
	}

	.footer-content {
		width: 100%;
	}

	.footer-content h3 {
		margin-top: 2.75rem;
	}
}

/* mobile landscape */
/* @media only screen and (min-width: 600px) {
	.home-main-container {
		height: 900vh;
		background-color: white;
	}

	.grid-banner {
		background-color: white;
	}

	.grid-banner h1 {
		background-color: transparent;
		margin-top: 10%;
		padding: 1rem;
		font-size: 52px;
	}

	.grid-container-body {
		margin-top: 0rem;
	}

	.grid-body {
		background-color: white;
		margin-top: -2rem;
		height: 500vh;
	}

	.feature-container {
		
		background-color: white;
		width: 100vw;
	}

	.feature-grid {
		background-color: transparent;
	}

	.feature-pic {
		background-color: white;
		width: 100%;
		margin-left: auto;
	}

	.feature-description {
		background-color: transparent;
		width: 100%;
		margin-left: auto;
	}
} */

/* @media only screen and (min-width: 960px) {
	.home-main-container {
		background-color: slateblue;
		height: auto;
	}

	.grid-banner h1 {
		margin-top: 17%;
		font-size: 30px;
	}

	.grid-container-body::after {
		background-color: #1b2737;
	}

	.grid-container-body {
		background-color: #1b2737;
		height: 200vh;
	}

	.get-started-container {
		display: none;
	}
} */

/* laptops, desktops  */
@media only screen and (min-width: 1280px) {
	.home-main-container {
		background-color: transparent;
		height: auto;
		overflow-y: hidden;
	}

	.grid-banner h1 {
		margin-top: 17%;
		font-size: 50px;
	}

	.grid-banner {
		background-color: transparent;
	}

	.grid-container-banner {
		background-color: transparent;
	}

	.grid-container-body {
		background-color: transparent;
		position: relative;
		box-sizing: border-box;
		height: 310vh;
	}

	.grid-body {
		background-color: transparent;
	}

	.grid-container-body::after {
		position: absolute;
		content: '';
		background: #1b2737;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transform-origin: top left;
		transform: skewY(-8deg);
		box-shadow: -70vw -10px 0px 10px #ff4f00, 70vw 50px 0px -30px #ff4f00;

		/* border-bottom: 22px solid #f51c40; */
	}

	.feature-container {
		background-color: transparent;
		height: 100vh;
		padding: 0rem;
	}

	.feature-grid {
		background-color: transparent;
		height: 140vh;
	}

	.feature-pic {
		background-color: transparent;
		height: 200px;
	}

	.feature-description {
		background-color: transparent;
	}

	.feature-container.second-row {
		margin-top: 0%;
	}

	.feature-description h2 {
		color: white;
		font-size: 20px;
	}

	.feature-description h3 {
		color: white;
		font-size: 15px;
	}

	.get-started-container {
		background-color: transparent;
		height: 75vh;
		width: 100%;
	}

	.get-started {
		background-color: transparent;
		width: 30%;
		margin: 0 auto;
		padding: 10px;
		position: relative;
		z-index: 100;
	}
}

/* @media screen and (min-width: 1280px) {
	.home-main-container {
		background-color: teal;
	}
} */

@media screen and (min-width: 1670px) {
	.home-main-container {
		background-color: transparent;
	}

	.grid-banner h1 {
		font-size: 55px;

		/* margin-top: -0rem; */
	}

	.grid-container-body {
		height: 250vh;
	}

	.feature-container {
		background-color: transparent;
		height: 80vh;
	}
}

@media screen and (min-width: 2040px) {
	.home-main-container {
		background-color: transparent;
	}
}
